/* Association with external style sheet (.css file) */ 


* {
    box-sizing: border-box;
}
/*Wrapper*/
.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
/*Wrapper*/
.Site-content {
    flex: 1;
}

body {
    text-align: center;
    background-color: black;
    font-family: serif;
    color: white;
}
/* Header styling */
header a {
    color: white;
    text-decoration: none;
    font-family: serif;
}

    header a:link {
        color: white;
    }

    header a:hover {
        color: dodgerblue;
    }

header {
    padding-top: 2em;
    padding-bottom: 0;
}
/* Navigation styling */
nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-bottom: 1em;
    padding: 2em;
    text-align: center;
}

    nav a:link {
        color: white;
    }

    nav a:visited {
        color: dodgerblue;
    }

    nav a:hover {
        color: silver;
        border: 0 dotted #333333;
    }
/* Index page styling */
#indexBody {
    margin-top: 100px;
    text-align: center;
}

    #indexBody a:link {
        color: rebeccapurple
    }

    #indexBody a:visited {
        color: dodgerblue;
    }

    #indexBody a:hover {
        color: white;
    }
/* 3 Column styling */
.onethird {
     float: left;
    width: 33.33%;
    margin: 0 auto;
    padding-left:5px;
    padding-right:5px;
}

/* Clear floats after the columns */
.onehalf:after {
    content: "";
    display: table;
    clear: both;
}
/* Page 2 tribute styling */
#tribute {
    background-color: white;
    color: black;
    text-align: left;
    padding: 2em;
   margin: 5em 10em 5em 10em;
}
/* Page 2 timeline styling */
#timeline {
    padding: 1em;
    text-align: left;
}

li span {
    font-weight: bold;
}

#ronimage {
    margin-top:10em;
}
/* Footer styling */
footer {
    background-color: white;
    color: black;
    font-size: 0.9em;
    text-align: center;
    padding: 0;
    margin-top: 5em;
    bottom: 0;
}
/* Form styling on page 3 memories */
#memory, #name, #email {
    border: 2px solid dodgerblue;
    border-radius: 4px;
}
/* CSS Image Gallery and Description styling */
div.desc {
    padding: 15px;
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

    .column img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
    }

/* Responsive layout */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
   .onethird {
       width: 100%;
       float: none;
   }
}

/* Responsive layout */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
    .onethird {
        width: 100%;
        float: none;
    }
}